<h1>Welcome to Well...I Liked It!</h1>

<% if logged_in? %>
    <h2>You are Logged In, <%= current_user.username %></h2>

<% end %>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/users/new', method: :get%>
